<%= form_for(@message, remote: true, style: ".form-stacked") do |f| %>
	<% if @message.errors.any? %>
	<div id="error_explanation" class="alert-message error">
		<h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>

		<ul>
			<% @message.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
	<% end %>

	<div id="fields" style="padding: 5px">
		<%= f.text_area :body, cols: "0", rows: "0", style: "width: 100%; height: 300px; padding: 10px;" %>
		<div class="container" style="margin-top: 10px">
			<div class="row">
					<%= f.submit class: "btn large primary" %>
				</div>
			</div>
		</div>
	</div>
<% end %>

<div class="container">
	<div id="links" class="row" style="display: none;">	
		<div style="padding-top: 120px">
			<h4 style="margin: 10px auto"><%= t(:message_here_your_link) %></h4>
			<input id="stub_link" type="text" onfocus="this.select();" class="xlarge" style="width: 100%" />
			<div style="margin: 20px">
				<input value="<%= t(:message_new) %>" class="btn large" type="button" style="width: 100%; margin: 0 auto;" onclick="location.href='<%= escape_javascript(APP_URL) %>'" />
			</div>
		</div>
	</div>
</div>