<div id="form_error" class="alert-message error" style="display: none">
	<strong><%= t('.body_empty') %></strong>
</div>

<div class="container">
	<%= form_for(@message, :remote => true, :style => "form-stacked") do |f| %>
		<div id="fields" style="padding: 5px">
			<%= f.text_area :body, :cols => "0", :rows => "0", :class => "xxlarge", :style => "width: 100%; height: 260px; padding: 10px;" %>
			<div style="margin-top: 10px">
				<%= f.submit :class => "btn large primary" %>
			</div>
			</div> 
		</div>
	<% end %>

	<div id="result" class="container" style="display: none">	
		<div style="padding-top: 78px; padding-bottom: 78px">
			<div class="row">
				<div class="span2 columns"><br /></div>
				<div class="span12 columns">
					<h5 style="margin: 5px auto; text-align: center;"><%= t('.your_link') %></h5>
					<input id="stub_link" type="text" onfocus="this.select();" style="width: 100%; height: 2.2em; font-size:2.2em" />
					<input value="<%= t('.new_message') %>" class="btn large primary" type="button" style="margin: 0 auto; width: 100%; margin-top: 10px" onclick="location.href='<%= escape_javascript(APP_URL) %>'" />
				</div>
				<div class="span2 columns"><br /></div>
			</div>
		</div>
	</div>
</div>