<div id="form">
	<%= form_for(@message, :remote => true) do |f| %>
		<% if @message.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>

			<ul>
				<% @message.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
		<% end %>

		<div id="fields">
			<div class="field">
				<%= f.text_area :body, :onfocus => "if(this.value == 'Test') {this.value='';}", :rows => 0, :cols => 0 %>
			</div>
			<div class="field">
				<%= f.text_field :sender_email, :onclick => "this.select()" %>
			</div>
			<div class="actions">
				<%= f.submit %>
			</div>
		</div>
	<% end %>
</div>