<%= form_for(@message, :remote => true) do |f| %>
	<% if @message.errors.any? %>
	<div id="error_explanation" class="alert-message error">
		<h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>

		<ul>
			<% @message.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
	<% end %>

	<div id="fields" class="clearfix">
		<div class="well row">
			<div class="span16 columns">
				<%= f.text_area :body, :style => "height: 100%; width: 100%;" %>
			</div>
		</div>
		
		<div class="well" style="padding: 14px 19px;">
			<div class="row">
				<div class="span8 columns">
					<%= f.text_field :sender_email, :onclick => "this.select()", :class => "large" %>
				</div>
				<div class="span8 columns">
					<%= f.submit :class => "btn large primary" %>
				</div>
			</div>
		</div>
	</div>
<% end %>

<div id="links" class="container" style="display: none;">
	<div class="rows" style="padding: 120px">
		<input id="stub_link" type="text" onfocus="this.select();" style="font-size: 1.8em; width: 100%" />
		<input value="<%= t(:message_new) %>" class="btn primary large" type="button" style="width: 100%" onclick="location.href='<%= escape_javascript(APP_URL) %>'" />
	</div>
</div>
