<div class="container mbody">
	<div id="form_error" class="alert-message error" style="display: none">
		<strong><%= t('.body_empty') %></strong>
	</div>

	<%= form_for(@message, :remote => true, :style => "form-stacked") do |f| %>
		<%= f.text_area :body, :cols => "0", :rows => "0" %>
			<div class="well" style="margin-top: 10px">
				<%= f.submit :class => "btn large primary", :value => t('.secure_message') %>
			</div>
	<% end %>

	<div id="form_spinner">
		
	</div>

	<div id="form_result" class="container" style="Display: none">	
		<div style="margin-top: 80px">
			<h4><%= t('.your_link') %></h4>
			<input id="stub_link" type="text" readonly="true" onclick="this.select();" style="width: 99%; height: 2.2em; font-size:2.2em" />

		</div>
		<div class="well" style="margin-top: 10px">
			<input value="<%= t('.new_message') %>" class="btn large success" type="button" onclick="location.href='<%= escape_javascript(APP_URL) %>'" />
		</div>
	</div>
</div>