<div class="container mbody">
	<div id="form_error" class="alert-message error" style="display: none">
		<strong><%= t('.body_empty') %></strong>
	</div>

	<%= form_for(@message, :remote => true, :style => "form-stacked") do |f| %>
		<%= f.text_area :body, :cols => "0", :rows => "0" %>
			<div class="well" style="margin-top: 10px">
				<%= f.submit :class => "btn large primary" %>
			</div>
	<% end %>

	<div id="form_result" class="mbody container" style="display: none">	
		<table>
			<tr>
				<td valign="center">
					<h4><%= t('.your_link') %></h4>
					<input id="stub_link" type="text" onfocus="this.select();" style="width: 100%; height: 2.2em; font-size:2.2em" />
					<input value="<%= t('.new_message') %>" class="btn large success" type="button" style="margin: 10px;" onclick="location.href='<%= escape_javascript(APP_URL) %>'" />
				</td>
			</tr>
		</table>
	</div>
</div>