<p id="notice"><%= notice %></p>

<p>
  <b>Cipher:</b>
  <%= @message.cipher %>
</p>

<p>
  <b>Body:</b>
  <%= @message.body %>
</p>

<p>
  <b>Stub:</b>
  <%= @message.stub %>
</p>

<p>
  <b>Expires at:</b>
  <%= @message.expires_at %>
</p>

<p>
  <b>Read at:</b>
  <%= @message.read_at %>
</p>

<p>
  <b>Sender email:</b>
  <%= @message.sender_email %>
</p>

<p>
  <b>Sender ip:</b>
  <%= @message.sender_ip %>
</p>

<p>
  <b>Recipient email:</b>
  <%= @message.recipient_email %>
</p>

<p>
  <b>Recipient ip:</b>
  <%= @message.recipient_ip %>
</p>


<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
